version: "3.8"

services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: auth_api
    env_file:
      - .env
    ports:
      - "${API_PORT:-8000}:${API_PORT:-8000}"
    volumes:
      - ./src:/app/src
      - ./pyproject.toml:/app/pyproject.toml
      # Pour que le conteneur puisse accéder au réseau de la DB
    depends_on:
      - db
    command: fastapi run --host 127.0.0.1 --reload src/main.py --port ${API_PORT:-8000}

  db:
    image: postgres:16-alpine
    container_name: auth_db
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "${POSTGRES_PORT:-5432}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  postgres_data: